---
# Mockfog Application Configuration

application_config:
  - name: genConf1
    application_definition: generator
    nodes: generator1, generator2, generator3, generator4
    vars:
      env:
        - remote: "TEST"

  - name: appConfLayer1
    application_definition: application
    nodes: application_layer1_1, application_layer1_2
    vars:
      env:
        - MF_CONFIG: The IP of Node1 is 

  - name: appConfLayer2
    application_definition: application
    nodes: application_layer2
    vars:
      env:
        - MF_CONFIG: The IP of Node1 is 